*,*:before,*:after {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.plane {
    margin: 20px auto;
    max-width: 300px;
}

.cockpit {
    height: 250px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-bottom: 5px solid #d8d8d8;
}

.cockpit:before {
     content: "";
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     height: 500px;
     width: 100%;
     border-radius: 50%;
     border-right: 5px solid #d8d8d8;
     border-left: 5px solid #d8d8d8;
}



.exit {
    position: relative;
    height: 50px;
}
.exit:before,
.exit:after {
     content: "EXIT";
     font-size: 14px;
     line-height: 18px;
     padding: 0px 2px;
     font-family: "Arial Narrow", Arial, sans-serif;
     display: block;
     position: absolute;
     background: green;
     color: white;
     top: 50%;
     transform: translate(0, -50%);
 }
.exit:before {
     left: 0;
 }
.exit:after {
     right: 0;
 }


.fuselage {
    border-right: 5px solid #d8d8d8;
    border-left: 5px solid #d8d8d8;
}

ol {
    list-style :none;
    padding: 0;
    margin: 0;
}


@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}