
/* Style buttons */
.btn-lg {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn-lg:hover {
    background-color: RoyalBlue;
}


#selRoomBtn{
    width:200px;
    margin-left:80px;
}

#adults_sel{
    margin-left:56px;
    width:50px;
}
#children_sel{
    margin-left:156px;
    width:50px;
}

#lbl{
    margin-left:20px;
    display: inline-block;
}

#selectRooms{
    margin-left:20px;
}

.lbl1{
    display: inline-block;
    margin-left:100px;
}
.inl{
    display: inline-block;
}

.glyphicon
{
    font-size: 20px;
}
.entry:not(:first-of-type)
{
    margin-top: 10px;
}
.modal-dialog-slideout {min-height: 100%; margin: 0 0 0 auto;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(100%,0)scale(1);transform: translate(100%,0)scale(1);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 100%;}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{overflow-y: auto;overflow-x: hidden;}
.modal-dialog-slideout .modal-content{border: 0;}
.modal-dialog-slideout .modal-header {height: 54px; display: block;}
.modal-dialog-slideout .modal-footer {height: 130px; display: block;}
.modal-dialog-slideout .modal-header h5 {float:left;}


.panel {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.panel-primary {
    border-color: #428BCA;
}

.panel-primary > .panel-heading {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
}

.panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0px;
}

.panel-title {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}
.title {
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
}
.hotelResNo, .flightResNo, .rcsResNo{
    font-size: 13px
}

.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}

.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}

.panel-body:after {
    clear: both;
}

.panel-body {
    padding: 15px;
}

.panel-footer {
    background-color: #F5F5F5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #DDDDDD;
    padding: 10px 15px;
}

.service-row {
    margin-bottom: 5px;
}

.service-row:last-child {
    margin-bottom: 0;
}

.dropdown-service {
    margin-right: 0px;
    padding: 5px;
    height:100%;
}

.dropdown-service:hover {
    cursor: pointer;
}

.table-service-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
    padding: 0;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.table-service-information > tbody > tr:first-child {
    border-top: 0;
    padding: 0;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}


.table-service-information > tbody > tr > td {
    border-top: 0;
    padding: 0;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
.serviceImg{
    margin-right: -20px;
    width:50px;
    height: 50px;
}
.img-col{
    margin-right: -120px;
}
.roomTypeTable{
    margin-left: 15px;
    font-size: 12px;
    margin-top: 20px;
    display : block;
    color: blue;
}
.roomFloorInfo{
    margin-top: 0px;
    margin-left: 15px;
    font-size: 10px;
}
.roomNoInfo{
    margin-top: -15px;
    margin-left: 15px;
    font-size: 10px;
}
.media-object{
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.table-service-information{
    width:420px;
}
.rowSum{
    width: 200px;
}

#btnMdlCheckout{
    width:90px;
    font-size: 14px;
}
#btnMdlBook{
    margin-left: 140px;
    margin-right: 30px;
    width:90px;
    font-size: 14px;
}
.titleCol {
    margin-left: 80px;
}