body {
    padding-top: 56px;
}

#HotelNamePlace{
    display: inline-block;
    width: 380px;
    padding: 5px;
    margin: 1px;
    margin-left: 20px;

}
#datepickerStart{
    display: inline-block;
    width: 200px;
    padding: 5px;
    margin: 8px;

}

#datepickerEnd{
    display: inline-block;
    width: 200px;
    padding: 5px;
    margin: 1px;

}
#NoOfGuests{
    display: inline-block;
    padding: 5px;
    margin: 7px;

}
#RoomType{
    display: inline-block;
    padding: 5px;
    margin: 7px;

}
#hotel-search-submit{
    display: inline-block;
    padding: 5px;
    margin: 7px;

}